body {
  color: rgb(255, 255, 255);
  background-color: rgb(96, 54, 54);
  /* rgb(27, 13, 13) */
}

section#DROP_DOWN {
  padding-top: 100px;
}

div {
    color: black;
}

div.title {
  padding: 10px;
  color: rgb(255, 82, 82);
}

div.col {
  border-style: solid;
  border-color: rgba(121, 183, 255, 0.498);
  background: rgba(121, 183, 255, 0.498);
  padding-block: 15px;
}


.board {
    display: flex;
    gap: 40px; /* space BETWEEN columns */
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.column {
    flex: 0 0 100%;
    background: #a7d3ff;
    border-radius: 10px;
    padding: 15px;
    min-height: 400px;
    max-width: 100%;
    scroll-snap-align: start;
}

.task {
    background: rgb(225, 238, 255);
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 6px;
    cursor: grab;
}

h5 {
  color: black
}
#todo {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 15px;
    margin: -15px -15px -60px -15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 176, 102);
}

#inprogress{
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 15px;
    margin: -15px -15px -60px -15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 255, 55);
}

#inreview{
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 15px;
    margin: -15px -15px -60px -15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(105, 160, 255);
}

#complete{
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 15px;
    margin: -15px -15px -60px -15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(102, 255, 176);
}

button {
    background-color: rgb(82, 128, 255);
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

.board::-webkit-scrollbar {
  display: none; /* hide scrollbar */
}

.high { border-left: 5px solid red; }
.medium { border-left: 5px solid orange; }
.low { border-left: 5px solid green; }

/* Medium screens → 2 columns */
@media (min-width: 768px) {
  .column {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .board {
    overflow-x: auto;
  }
}

/* Large screens → 4 columns */
@media (min-width: 992px) {
  .column {
    flex: 1;
    max-width: none;
  }

  .board {
    overflow-x: visible;
  }
}